<div class="container">
Goal
<div class="progress progress-striped active">
    <div class="progress-bar" style="width: 90%;">
        <span class="sr-only">90% Complete</span>
    </div>
</div>
</div>