<h1>Spents</h1>

<table class="table table-hover table-striped">
<thead>
<tr>
	<th>#</th>
	<th>Value</th>
	<th>Date</th>
	<th>description</th>
	<th>username</th>
</tr>
</thead>
<tbody>
	<!-- <div class="row"> -->
	<%= link_to 'New Spent', new_spent_path, class: "btn btn-primary" %>
  <!-- <div class="row"> -->
    <!-- <%= render 'shared/progressbar' %> -->
  <!-- </div> -->
	<div class="row">
	    <%= render @spents %>
	</div>

</body>
</table>

</div>
